<h1>Lost Items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Loser</th>
  </tr>

<% @items.each do |item| %>
  <% if item.is_lost %>
  <tr>
    <td><%= link_to item.name, item %></td>
    <td><%= item.description %></td>
    <td><%= item.user.email %></td>
  </tr>
  <% end %>
<% end %>
</table>
<br/>

<h1>Found Items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Finder</th>
  </tr>

<% @items.each do |item| %>
  <% unless item.is_lost %>
  <tr>
    <td><%= link_to item.name, item %></td>
    <td><%= item.description %></td>
    <td><%= item.user.email %></td>
  </tr>
  <% end %>
<% end %>
</table>
<br/>

<%= link_to "Report New Item", new_item_path %>
