<% if @item.is_lost %>
<h1>Lost Item: <%= @item.name %></h1>
<% else %>
<h1>Found Item: <%= @item.name %></h1>
<% end %>

<p>Description: <%= @item.description %></p>

<% if @item.is_lost %>
<p>Lost by: <%= @item.user.email %></p>
<% else %>
<p>Found by: <%= @item.user.email %></p>
<% end %>

<% unless @item.is_lost %>
  <%= link_to "Claim Item", root_url %>
<% end %>
